@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e6e6e6;
  margin: 0;
}

.adjust_image_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3px;
}

.location {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

.date_id {
  display: flex;
  flex-direction: row;
}

.location_date_time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.nav_items {
  display: flex;
  flex: 1;
}

.nav_title {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  flex: 2;
  column-gap: 30px;
}

.move_left {
  margin-right: 10px;
}

.date_format {
  display: flex;
  flex-direction: row;
  color: #bfbfbf;
  font-family: sans-serif;
  font-size: 15px;
}

.input_column {
  display: flex;
  flex-direction: column;
}

.input_row {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
  row-gap: 5px;
}

.button_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.text_size {
  font-size: 15px;
}

.nav_text_size {
  font-size: 14px;
}

.modal_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.button_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg_table {
  background: rgba(255, 255, 255, 1);
  width: 930px;
  height: 480px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.bg_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}