@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e6e6e6;
  margin: 0;
}

.adjust_image_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3px;
}

.location {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

.date_id {
  display: flex;
  flex-direction: row;
}

.location_date_time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.nav_items {
  display: flex;
  flex: 1;
}

.nav_title {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  flex: 2;
  column-gap: 30px;
}

.move_left {
  margin-right: 10px;
}

.date_format {
  display: flex;
  flex-direction: row;
  color: #bfbfbf;
  font-family: sans-serif;
  font-size: 15px;
}

.input_column {
  display: flex;
  flex-direction: column;
}

.input_row {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
  row-gap: 5px;
}

.button_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.text_size {
  font-size: 15px;
}

.nav_text_size {
  font-size: 14px;
}

.modal_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.button_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg_table {
  background: rgba(255, 255, 255, 1);
  width: 930px;
  height: 480px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.bg_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.background_card {
  background-color: #ffffff;
  width: 250px;
  height: 150px;
  border-radius: 15px;
  border: 1px solid #cccccc;
}

.background_card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  column-gap: 10px;
  row-gap: 5px;
  flex-wrap: wrap;
}

.numeric_value {
  color: #404040;
  font-weight: bold;
  font-size: 35px;
}

.numeric_value_center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.symbol {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.first_chart_grid {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.first_chart {
  background-color: #ffffff;
  width: 510px;
  height: 350px;
  border-radius: 15px;
  border: 1px solid #cccccc;
}

.first_chart:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tabs_container {
  width: 510px;
  height: 350px;
  background-color: #ffffff;
  white-space: pre;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid #cccccc;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tabs_container:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.tab_bar_chart {
  width: 510px;
  border-top: 1px solid #e6e6e6;
}